<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header th:replace="layout/layout :: header" ></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="layout/layout :: lateral-panel-left"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Registro de Personal        
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index}"> Home</a></li>
        <li class="active">Personal</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
      	<section class="col-lg-6 col-xs-12 connectorSortable">
      		<div class="box box-success">
	            <div class="box-header">	              
	              <h3 class="box-title">Formulario de Personal</h3>		              
	            </div>
	            <div class="box-body chat" id="panel_citas_hoy">
	             	            
	            </div>            
          </div>
      	</section>
      	<section class="col-lg-6 col-xs-12 connectorSortable">
      		<div class="box box-success">
	            <div class="box-header">	             
	              <h3 class="box-title">Listado de Personal</h3>		              
	            </div>
	            <div class="box-body chat" id="panel_pacientes_registrados">
	             	            
	            </div>            
          </div>
      	</section>      
      </div>
    </section>    
  </div> 
  <footer th:replace="layout/layout :: footer"></footer>  
  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>

